<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>FizzBuzz</title>
  </head>
  <body>
    <div id="app">
      <input type="text" v-model="number"></input>
      <button v-on:click=fizzbuzz(number)>実行</button>
      <p v-for="elem in elems">
        {{ elem }}
      </p>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="./fizzbuzz.js">
    </script>
  </body>
</html>
